.banner-show {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.text-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
}
h1 {
  margin-bottom : 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
h3 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}


.fermeture{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.411);
  padding: 8px 55px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;

  h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;

  }
}

.questions {
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
