.container-index {
  display: flex;
  flex-direction: column;

  .index-up{
   display: flex;
   align-items: flex-start;

   .cards-index{
     flex-grow: 2;
   }
   .search{
     background-color: bisque;
     padding: 200px;
     height: 300px;

   }
  }
 }
 #index-black{
  color: black;
 }
