.search{
  background-color: bisque;
  padding: 200px;
  height: 300px;
}


#index-black{
 color: black;
 margin-top:50px;
   margin-left:40px;
}

// .cards-index{
//   display: flex;
//   flex-grow: 2;
// }
