@import "components/navbar";
@import "components/footer";

h1 {
  margin-bottom : 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;

}
#titre {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }


.text-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
}

.banner-show {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.page_selection {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  align-items: stretch;
  width: 80%;
  margin: 20px auto;
}

.new_player {
  display: flex;
  background-color: #ccdee6;
  border-radius: 10px;
  // margin-right: 20px;
  height: auto;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  justify-content: center;
  flex-direction: column;

}

.add_player{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.add_ami {
  font-style: italic;
}

.team {
  display: flex;
  flex-direction: column;
  background-color: beige;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 20px;
  margin-left: 20px;
}

#equipe-titre {
  margin-top: 30px;
  margin-bottom: 0px;
}

.li-joueur {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
 }

.joueur {
  text-decoration: none;
  padding-right: 10px;
}

.form-user{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

a.btn-add {
  padding: 15px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: #ededed;
  opacity: 0.7;
  border-radius: 10px;
  margin-left: 15px;
}

input.btn-add {
  padding: 12px 30px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: #ededed;
  opacity: 0.7;
  border-radius: 10px;
}


.btn-add:hover {
  background-color: #653939;
}

.validation {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 30%
}

.icon-none {
  color: rgb(115, 30, 30);
}

.fa-solid fa-trash-can {
position: absolute;
left: 5px;
}
