@import "components/navbar";
@import "components/footer";

.banner-show {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.text-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
}

h1 {
  margin-bottom : 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.btn-show {
  padding: 15px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: #ededed;
  opacity: 0.7;
  border-radius: 10px;
}

.btn-show:hover {
  background-color: #653939;
}

.cloture {
  text-align: center;
  color: antiquewhite;
}


h3 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.informations-sport {
  width: 70%;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.information-event {
  background-color: #ededed;
  border-radius: 16px;
  width: 70%;
  height: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  ul{
    line-height: 50px;
    padding: 25px;
    margin-left: 10px;
    list-style: none;
  }
  li{
    font-size: 20px;
  }
}

.information-org{
  background-color: #ccdee6;
  border-radius: 16px;
  width: 30%;
  margin-right: 20px;
  height: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  h2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  ul{
    line-height: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  li{
    font-size: 18px;
  }
  img{
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}

.inscription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;

  h4{
    text-align: center;
  }
}

#equipes {
  border-collapse: collapse;
  width: 65%;
  border-radius: 3px;
  margin: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#equipes td, #equipes th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
}

#equipes tr:nth-child(even){background-color: #f2f2f2;}

#equipes tr:hover {background-color: #ddd;}

#equipes th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #993535c7;
  color: white;
}

li {
  font-size: 16px;
}

#orga-map{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  height: 400px;
  ul{
    line-height: 50px;
    padding: 25px;
    margin-left: 10px;
    list-style: none;
  }
  li{
    font-size: 20px;
    text-align: center;
  }
}

.informations-ta{
  background-color: #ededed;
  border-radius: 16px;
  width: 30%;
  margin-right: 20px;
  height: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}


.map {
  width: 70%;
  background-color: aqua;
  border-radius: 16px;
  margin: 0;
  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }

  .marker {
    background-image: url("pointer.png");
    background-size: contain;
    width: 35px;
    height: 35px;
  }
}

span{
  font-weight: bolder;
}
