.profile-container{
  display: flex;
  width: 70%;
  align-items: flex-start;
  margin: auto;
}

.profile-right{
  background-color: rgba(218, 169, 169, 0.501);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: auto;
  align-items: stretch;
}

.container-events{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.organized-events, .partecip-events{
  display: flex;
  flex-direction: column;
}


.user-info{
  position: sticky;
  top: 20px;
  width: 30%;
  background-color: #ccdee6;
  border-radius: 16px;
  margin-right: 20px;
  height: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  h2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  ul{
    line-height: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  li{
    font-size: 18px;
  }
  img{
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}

#edit-button a.link-to-user{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.526);
}
#edit-button a.link-to-user:hover{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.975);
}


.profile-reviews {
  margin: 10px;
  padding: 10px;
  background-color: #ededed;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: thick double #ccdee6;
}

.container-review {
  padding: 3px;
  margin: 3px;
  background-color: #c5b9b9ad;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;

  .details{
    padding: 2px;
    margin: 3px;
  }

  .details > p {
    font-size: 10px;
    font-weight: bold;
  }
  .content {
    display: flex;
    padding: 2px;
    margin: 3px;
  }
  .content > p {
    margin: 3px;
  }
}
.container-review:hover {
  background-color: #af8c8cfd;
}
