.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-top{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
}

.container-events{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.organized-events-cont, .partecip-events-cont{
  display: flex;
}
.organized-events, .partecip-events {
  width: 70%;
}

.organized-events-notif, .partecip-events-notif {
  background-color: #ededed;
  width: 30%;
}

.profile-reviews {
  margin: 10px;
  padding: 10px;
  background-color: #ededed;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 60%;
}


.user-info{
  width: 20%;
  background-color: #ccdee6;
  border-radius: 16px;
  margin-right: 20px;
  height: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  h2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  ul{
    line-height: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  li{
    font-size: 18px;
  }
  img{
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}

#edit-button a.link-to-user{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.526);
}
#edit-button a.link-to-user:hover{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.975);
}
