<div class = "container-review">
  <div class = "content">
    <p><%= review.content %></p>
  </div>
  <div class = "details">
    <p><%= review.reviewer %></p>
    <p><%= review.created_at %></p>
  </div>
</div>
