<div class = "container-review">
  <div class = "content">
    <p><i class="fa-solid fa-quote-left"></i> </p>
    <p><%= event_review.content %></p>
    <p> <i class="fa-solid fa-quote-right"></i></p>
  </div>
  <div class = "details">
    <p><%= event_review.reviewer %></p>
    <p><%= event_review.created_at.strftime("%d/%m/%Y-%k:%M") %></p>
  </div>
</div>
