<div class="banner">
    <div class = "title">
      <h1>Get Ch@mpionship</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" id="searchBox">
        <h3>trouver un tournoi dans votre région</h3>
        <div id = "searchbox" class="form col-xs-12">
          <input class="col-xs-9" id="searchBar" type="text" placeholder="Ville, département, région"/>
          <input class="col-xs-9" id="searchBar" type="text" placeholder="activité recherchée"/>
          <button type="button" class="btn btn-dark">search</button>
        </div>
      </div>
    </div>
</div>

<div class="cards">

  <div id="golf">
    <a href="">Golf</a>
  </div>

  <div  id="football">
    <a href="">Football</a>
  </div>

  <div id="basket">
      <a href="">Basket</a>
  </div>

   <div id="ping-pong">
    <a href="">Ping-pong</a>
  </div>

  <div id="petanque">
    <a href="">Petanque</a>
  </div>

  <div id="volley">
    <a href="">Beach Volley</a>
  </div>
</div>
