.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.cards {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-product:hover {
  margin: 10px;
}


.card-product > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.card-product-user {
  width: 40px;
  border-radius: 50%;
  border: white 1px solid;
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.link-to-show p {
  text-decoration: none;
  color: black;
  position: relative;
  left: 4px;
  bottom: 4px;
  font-size: 13px;
  text-align: right;
}

.link-to-show p:hover{
  font-size: 14px;
}
