#clockdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.411);
  padding: 8px 55px;
  border-radius: 10px;
  margin-top: 20px;

  h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }
}

.countdown{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;

  .container-days, .container-hours, .container-minutes, .container-seconds{
    padding: 10px;
    margin: 5px;
    background-color:rgba(11, 11, 11, 0.489) ;
    border-radius: 5px;
  }

}

span {
  font-size: 20px;
  color: white;
}

span.days, span.hours, span.minutes, span.seconds {
  font-size: 50px;
  color: white;
}
