#clockdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.411);
  padding: 8px 55px;
  border-radius: 10px;
  margin-top: 20px;

  h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }
}

.countdown{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;

  .day, .hour, .minute, .second{
    font-size: 20px;
  }

}
