.logged-in {
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  #logged-in-title{
    text-align: center;
  }
}


.card-home {
  position:relative;
  overflow: hidden;
  margin: 5px;
  border-radius: 3px;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-home img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-home-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-home-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.home-link-to-show{
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 12px;
  color: black;
}

.card-home  .card-home-info  {
  padding: 16px;
}
