.logged-in {
  width: 80%;
  margin-top: 20px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;

  #logged-in-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}

.organize-home, .partecip-home {
  width: 40%;
}


.card-home {
  position:relative;
  margin: 5px;
  border-radius: 3px;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: black;
}

.card-img {
  overflow: hidden;
  height: 100%;
  width: 120px;
  object-fit: cover;

}
.card-img img{
  max-width: 100%;
  height: 120px;
}

.card-home-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-home-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.home-link-to-show{
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 12px;
  color: black;
}

.card-home  .card-home-info  {
  padding: 16px;
}
