
  a{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  .theme {
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  #golf{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("golf.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  #football{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("football.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  #basket{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("basket.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  #petanque{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("petanque.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  #ping-pong{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("ping-pong.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  #volley{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(116, 116, 116, 0.4)), url("volley.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

.cards {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
