.map {
  width: cover;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.marker {
  background-image: url("pointer.png");
  background-size: contain;
  width: 30px;
  height: 35px;
}
