.mini-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: auto;

  .title {
    text-align: center;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: bold;
  }

  h3{
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
    font-style: italic;
  }
}
