.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.974);
  z-index: 10;
  width: 100%;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  height: 60px;
  width:  60px;
}

.nav-item-dropdown {
  z-index: 4;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #b63f3f;
}

#name{
  color: #b63f3f;
}
#name:hover{
  color:  #b63f3f;
}

.nav-link:hover{
  color: #712626;
}

.link-to-login{
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: rgb(136, 175, 130);
  margin-left: 10px
}
