
.notification-cont > a{
  color: rgb(254, 250, 250);
  font-size: 18px;
  margin-left: 3px;
}

.notification > a {
  color: rgb(254, 250, 250);
  font-size: 16px;
  margin-left: 4px;
}

.notification-cont{
  display: flex;
  padding: 2px 6px;
  background-color: rgb(153, 53, 53);
  border-radius: 2px;
  align-items: center;
  margin-right: 3px;
}

.notification-cont:hover{
  background-color: rgb(65, 22, 22);
}

.nb-notif {
  color: rgb(255, 254, 254);
  font-size: 16px;
}
